/* desktop */

@media screen and (min-width: 1440px) {

    :root{
        font-size: 12px;
    }

    .section-title{
        margin: 0 auto;
        width: 45%;
    }

    .section-title h2{
        margin-bottom: 0.5em;
    }

    .buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    button{
        cursor: pointer;
    }

    /* header */

    .hero{
        background-image: url("./images/bg-header-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5em;
    }

    .hero h1,
    .hero p{
        margin: 0 auto;
        width: 50%;
        margin-bottom: 0.5em;
    }

    .hero p{
        margin-bottom: 3em;
    }

    .hero button,
    .download button{
        padding: 0.8em 3em; 
    }

    /* main */

    main{
        padding: 0;
    }

    /* features */

    .features > p:first-of-type{
        margin: 0 auto;
    }

    .features-main-container{
        display: flex;
        align-items: center;
        gap: 5em;
        margin-top: 4em;
    }
    .features-main-container img{
        
        transform: translateX(-5%);
        width: 50%;
    }

    .features-details-container{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    .features-details-container .features-card{
        padding-top: 4em;
        width: 60%;
    }

    .features-details-container .features-card *{
        
        text-align: left;
        padding: 0;
        margin: 0;
        
    }

    /* access */

    .access img{
        margin: 0 auto;
        margin-bottom: 5em;
    }

    /* workflow */

    .workflow-card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .workflow .card{
        padding: 0 4em;
    }

    /* partners */

    .partners{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .footer{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        padding: 0 8em;
        font-size: 18px;
    }

    .footer-nav ul {
        display: grid;
        grid-template-areas:
        "faq privacy-policy install-guide"
        "contact-us press-kit .";

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        row-gap: 1em;
        column-gap: 3em;
    }

    .faq {
        grid-area: faq;
    }

    .privacy-policy {
        grid-area: privacy-policy;
    }

    .install-guide {
        grid-area: install-guide;
    }

    .contact-us {
        grid-area: contact-us;
    }

    .press-kit {
        grid-area: press-kit;
    }


    .footer-nav ul li{
        padding: 0;
        text-align: left;
    }

    .footer a:hover{
        color: var(--Green-500);
    }

    .footer .social-media-container img{
        padding: 0;
    }

    .social-media-container{
        justify-content: flex-end;
        flex-grow: 0;
        gap: 1em;
    }

    .icon{
        transition: 0.3s;
    }

    .facebook-icon:hover{
        content: url("./images/icon-facebook-hover.svg");
    }

    .instagram-icon:hover{
        content: url("./images/icon-instagram-hover.svg");
    }

    .twitter-icon:hover{
        content: url("./images/icon-twitter-hover.svg");
    }

    .attribution{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}